In [1]:
%reload_ext lab_black

import pandas as pd
import numpy as np

pop2000 = pd.read_csv(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/county_pop_2000_2010.xlsx",
    encoding="latin-1",
)
pop2010 = pd.read_csv(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/county_pop_2010_2019.csv",
    encoding="latin-1",
)

In [2]:
# look at data
pop2010.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [3]:
# subset by population

pop2010 = pop2010[
    [
        "POPESTIMATE2010",
        "POPESTIMATE2011",
        "POPESTIMATE2012",
        "POPESTIMATE2013",
        "POPESTIMATE2014",
        "POPESTIMATE2015",
        "POPESTIMATE2016",
        "POPESTIMATE2017",
        "POPESTIMATE2018",
        "POPESTIMATE2019",
        "STNAME",
        "CTYNAME",
    ]
]

pop2000 = pop2000[
    [
        "POPESTIMATE2000",
        "POPESTIMATE2001",
        "POPESTIMATE2002",
        "POPESTIMATE2003",
        "POPESTIMATE2004",
        "POPESTIMATE2005",
        "POPESTIMATE2006",
        "POPESTIMATE2007",
        "POPESTIMATE2008",
        "POPESTIMATE2009",
        "STNAME",
        "CTYNAME",
    ]
]

In [4]:
pop2010["STNAME"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [5]:
# drop Alaska from all datasets

pop2000 = pop2000[pop2000["STNAME"] != "Alaska"]
pop2010 = pop2010[pop2010["STNAME"] != "Alaska"]

pop2000["STNAME"].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [6]:
# run checks

# are there 50 states? (includes DC)
assert len(pop2000["STNAME"].unique()) == 50
assert len(pop2010["STNAME"].unique()) == 50

# are there null values?
for column in pop2000:
    assert not pop2000[column].isnull().any()

for column in pop2010:
    assert not pop2010[column].isnull().any()

In [7]:
# Change Bedford city to Bedford City in 2010 data
pop2000["CTYNAME"].replace("Bedford city", "Bedford County", inplace=True)

# change LaSalle Parish to La Salle Parish in 2010 data
pop2010["CTYNAME"].replace("LaSalle Parish", "La Salle Parish", inplace=True)

# change 2000 Shannon County to Ogala Lakota County
pop2000.loc[2459] = [
    12542,
    12602,
    12872,
    12993,
    12983,
    13150,
    13404,
    13345,
    13368,
    13425,
    "South Dakota",
    "Oglala Lakota County",
]

In [8]:
pop2000[pop2000["CTYNAME"].isin(["Oglala Lakota County"])]

,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,STNAME,CTYNAME
2459,12542,12602,12872,12993,12983,13150,13404,13345,13368,13425,South Dakota,Oglala Lakota County

In [9]:
# merge data

totalpop = pd.merge(
    pop2000,
    pop2010,
    on=["STNAME", "CTYNAME"],
    how="outer",
    indicator=True,
)

# check correct merge

assert (totalpop._merge == "both").all()

totalpop.columns

Index(['POPESTIMATE2000', 'POPESTIMATE2001', 'POPESTIMATE2002',
       'POPESTIMATE2003', 'POPESTIMATE2004', 'POPESTIMATE2005',
       'POPESTIMATE2006', 'POPESTIMATE2007', 'POPESTIMATE2008',
       'POPESTIMATE2009', 'STNAME', 'CTYNAME', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'POPESTIMATE2016',
       'POPESTIMATE2017', 'POPESTIMATE2018', 'POPESTIMATE2019', '_merge'],
      dtype='object')

In [10]:
totalpop = totalpop.rename(
    columns={
        "POPESTIMATE2000": 2000,
        "POPESTIMATE2001": 2001,
        "POPESTIMATE2002": 2002,
        "POPESTIMATE2003": 2003,
        "POPESTIMATE2004": 2004,
        "POPESTIMATE2005": 2005,
        "POPESTIMATE2006": 2006,
        "POPESTIMATE2007": 2007,
        "POPESTIMATE2008": 2008,
        "POPESTIMATE2009": 2009,
        "POPESTIMATE2010": 2010,
        "POPESTIMATE2011": 2011,
        "POPESTIMATE2012": 2012,
        "POPESTIMATE2013": 2013,
        "POPESTIMATE2014": 2014,
        "POPESTIMATE2015": 2015,
        "POPESTIMATE2016": 2016,
        "POPESTIMATE2017": 2017,
        "POPESTIMATE2018": 2018,
        "POPESTIMATE2019": 2019,
    },
    errors="raise",
)

In [11]:
list(totalpop.columns.values)

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 'STNAME',
 'CTYNAME',
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 '_merge']

In [12]:
# reassign DC's county name as 'DC' so it doesn't get lost in the next command
totalpop["CTYNAME"].replace("District of Columbia", "Washington County", inplace=True)

# remove aggregate state totals and save in state pop (if needed later)
statepop = totalpop[totalpop["STNAME"] == totalpop["CTYNAME"]]
totalpop = totalpop[totalpop["STNAME"] != totalpop["CTYNAME"]]

# reshape
totalpop = totalpop.melt(
    id_vars=["STNAME", "CTYNAME"],
    value_vars=[
        2000,
        2001,
        2002,
        2003,
        2004,
        2005,
        2006,
        2007,
        2008,
        2009,
        2010,
        2011,
        2012,
        2013,
        2014,
        2015,
        2016,
        2017,
        2018,
        2019,
    ],
    value_name="Population",
    var_name="Year",
)
totalpop["Year"] = totalpop["Year"].astype("float64")
totalpop = totalpop.rename(
    columns={"STNAME": "State Name", "CTYNAME": "County"}, errors="raise"
)
totalpop.head()

  State Name          County    Year  Population
0    Alabama  Autauga County  2000.0       44021
1    Alabama  Baldwin County  2000.0      141342
2    Alabama  Barbour County  2000.0       29015
3    Alabama     Bibb County  2000.0       19913
4    Alabama   Blount County  2000.0       51107

In [13]:
# merge in FIPS codes


fips = pd.read_excel(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/estimating-impact-of-opioids-2020-purlple-team/00_source/fips_codes.xlsx"
)
fips.head()

   FIPS       Full Name State State Name
0  1001  Autauga County    AL    Alabama
1  1003  Baldwin County    AL    Alabama
2  1005  Barbour County    AL    Alabama
3  1007     Bibb County    AL    Alabama
4  1009   Blount County    AL    Alabama

In [14]:
# import fips codes

fips = fips.rename(
    columns={"FIPS": "FIPS", "Full Name": "County", "State": "State Abbr"},
    errors="raise",
)

In [837]:
# merge

merged_pop = pd.merge(
    totalpop,
    fips,
    how="outer",
    on=["State Name", "County"],
    indicator=True,
)

In [838]:
# check merges

merged_pop[merged_pop._merge != "both"]

,State Name,County,Year,Population,FIPS,State Abbr,_merge
480,Alabama,DeKalb County,2000.0,64650.0,NaN,NaN,left_only
481,Alabama,DeKalb County,2001.0,65678.0,NaN,NaN,left_only
482,Alabama,DeKalb County,2002.0,65861.0,NaN,NaN,left_only
483,Alabama,DeKalb County,2003.0,66530.0,NaN,NaN,left_only
484,Alabama,DeKalb County,2004.0,67260.0,NaN,NaN,left_only
...,...,...,...,...,...,...,...
62414,Virginia,Suffolk City,NaN,NaN,51800.0,VA,right_only
62415,Virginia,Virginia Beach City,NaN,NaN,51810.0,VA,right_only
62416,Virginia,Waynesboro City,NaN,NaN,51820.0,VA,right_only
62417,Virginia,Williamsburg City,NaN,NaN,51830.0,VA,right_only
62418,Virginia,Winchester City,NaN,NaN,51840.0,VA,right_only

In [858]:
# fix issues. first, make all the strings lowercase

# replace De Kalb with DeKalb
fips["County"].replace("De Kalb County", "DeKalb County", inplace=True)

# replace DeSoto with De Soto
fips["County"].replace("De Soto County", "DeSoto County", inplace=True)

# Kalawao County was incorporated into Maui County
totalpop.replace("Kalawao County", "Maui County", inplace=True)

# replace Du Page with DuPage
fips["County"].replace("Du Page County", "DuPage County", inplace=True)

# replace La Grange Page with LaGrange
fips["County"].replace("La Grange County", "LaGrange County", inplace=True)

# replace La Porte Page with LaPorte
fips["County"].replace("La Porte County", "LaPorte County", inplace=True)

# replace O Brien  with O'Brien
fips["County"].replace("O Brien County", "O'Brien County", inplace=True)

# replace georges with george's
fips["County"].replace("Prince Georges County", "Prince George's County", inplace=True)

# replace annes with anne's
fips["County"].replace("Queen Annes County", "Queen Anne's County", inplace=True)

# replace Marys with Mary's
fips["County"].replace("St. Marys County", "St. Mary's County", inplace=True)

# replace city with conty
totalpop["County"].replace("Baltimore city", "Baltimore City", inplace=True)

# replace Doña with Dona
totalpop["County"].replace("Doña Ana County", "Dona Ana County", inplace=True)

# replace La Moure with LaMoure
fips["County"].replace("La Moure County", "LaMoure County", inplace=True)

# replace city with City

totalpop["County"].replace("Alexandria city", "Alexandria City", inplace=True)
totalpop["County"].replace("Bristol city", "Bristol City", inplace=True)
totalpop["County"].replace("Buena Vista city", "Buena Vista City", inplace=True)
totalpop["County"].replace("Danville city", "Danville City", inplace=True)
totalpop["County"].replace("Emporia city", "Emporia City", inplace=True)
totalpop["County"].replace("Fairfax city", "Fairfax City", inplace=True)
totalpop["County"].replace("Falls Church city", "Falls Church City", inplace=True)
totalpop["County"].replace("Franklin city", "Franklin City", inplace=True)
totalpop["County"].replace("Fredericksburg city", "Fredericksburg City", inplace=True)
totalpop["County"].replace("Galax city", "Galax City", inplace=True)
totalpop["County"].replace("Hampton city", "Hampton City", inplace=True)
totalpop["County"].replace("Harrisonburg city", "Harrisonburg City", inplace=True)
totalpop["County"].replace("Hopewell city", "Hopewell City", inplace=True)
totalpop["County"].replace("Lexington city", "Lexington City", inplace=True)
totalpop["County"].replace("Lynchburg city", "Lynchburg City", inplace=True)
totalpop["County"].replace("Manassas city", "Manassas City", inplace=True)
totalpop["County"].replace("Manassas Park city", "Manassas Park City", inplace=True)
totalpop["County"].replace("Martinsville city", "Martinsville City", inplace=True)
totalpop["County"].replace("Newport News city", "Newport News City", inplace=True)
totalpop["County"].replace("Norfolk city", "Norfolk City", inplace=True)
totalpop["County"].replace("Norton city", "Norton City", inplace=True)
totalpop["County"].replace("Petersburg city", "Petersburg City", inplace=True)
totalpop["County"].replace("Poquoson city", "Poquoson City", inplace=True)
totalpop["County"].replace("Portsmouth city", "Portsmouth City", inplace=True)
totalpop["County"].replace("Radford city", "Radford City", inplace=True)
totalpop["County"].replace("Richmond city", "Richmond City", inplace=True)
totalpop["County"].replace("Roanoke city", "Roanoke City", inplace=True)
totalpop["County"].replace("Salem city", "Salem City", inplace=True)
totalpop["County"].replace("Suffolk city", "Suffolk City", inplace=True)
totalpop["County"].replace("South Boston city", "South Boston City", inplace=True)
totalpop["County"].replace("Staunton city", "Staunton City", inplace=True)
totalpop["County"].replace("Virginia Beach city", "Virginia Beach City", inplace=True)
totalpop["County"].replace("Waynesboro city", "Waynesboro City", inplace=True)
totalpop["County"].replace("Williamsburg city", "Williamsburg City", inplace=True)
totalpop["County"].replace("Winchester city", "Winchester City", inplace=True)
fips["County"].replace("Baltimore City County", "Baltimore City", inplace=True)
totalpop["County"].replace("Baltimore city", "Baltimore City", inplace=True)
totalpop["County"].replace("Bedford city", "Bedford City", inplace=True)
totalpop["County"].replace("Clifton Forge city", "Clifton Forge City", inplace=True)


# drop Alaska
totalpop = totalpop[totalpop["State Name"] != "Alaska"]
fips = fips[fips["State Name"] != "Alaska"]

# remerge and check
merged_pop = pd.merge(
    totalpop,
    fips,
    how="outer",
    on=["State Name", "County"],
    indicator=True,
)
assert (merged_pop._merge == "both").all()

assert ((merged_pop["Population"]) > 0).all()

assert len(merged_pop["State Name"].unique()) == 50

assert len(merged_pop["Year"].unique()) == 20

In [859]:
merged_pop.sample(25)

,State Name,County,Year,Population,FIPS,State Abbr,_merge
5164,Colorado,Montrose County,2004.0,36310,8085,CO,both
45120,Pennsylvania,Lehigh County,2000.0,312368,42077,PA,both
52521,Texas,Kendall County,2001.0,24433,48259,TX,both
14234,Indiana,Johnson County,2014.0,147085,18081,IN,both
4708,Colorado,Elbert County,2008.0,22634,8039,CO,both
15421,Iowa,Bremer County,2001.0,23506,19017,IA,both
36852,New York,Queens County,2012.0,2272222,36081,NY,both
17537,Kansas,Cloud County,2017.0,8912,20029,KS,both
57753,Virginia,Wise County,2013.0,40662,51195,VA,both
48320,Tennessee,Cocke County,2000.0,33595,47029,TN,both
33283,Nebraska,Gosper County,2003.0,2136,31073,NE,both
59768,West Virginia,Lincoln County,2008.0,21881,54043,WV,both
51576,Texas,Frio County,2016.0,19584,48163,TX,both
56915,Virginia,Lancaster County,2015.0,10825,51103,VA,both
33759,Nebraska,Madison County,2019.0,35099,31119,NE,both
61585,Wisconsin,Sawyer County,2005.0,16652,55113,WI,both
30954,Missouri,Ripley County,2014.0,13932,29181,MO,both
38053,North Carolina,Granville County,2013.0,57762,37077,NC,both
52738,Texas,Lamb County,2018.0,13103,48279,TX,both
9143,Georgia,Madison County,2003.0,26857,13195,GA,both
20728,Kentucky,Livingston County,2008.0,9458,21139,KY,both
11731,Illinois,Cumberland County,2011.0,11080,17035,IL,both
34807,New Hampshire,Cheshire County,2007.0,77745,33005,NH,both
48003,South Dakota,Yankton County,2003.0,21687,46135,SD,both
43830,Oregon,Douglas County,2010.0,107631,41019,OR,both

In [860]:
merged_pop.to_csv(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/estimating-impact-of-opioids-2020-purlple-team/countypopulations_clean.csv"
)