In [497]:
%reload_ext lab_black

import pandas as pd
import numpy as np

pop2000 = pd.read_csv(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/county_pop_2000_2010.xlsx",
    encoding="latin-1",
)
pop2010 = pd.read_csv(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/county_pop_2010_2019.csv",
    encoding="latin-1",
)

In [498]:
# look at data
pop2010.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [499]:
# subset by population

pop2010 = pop2010[
    [
        "POPESTIMATE2010",
        "POPESTIMATE2011",
        "POPESTIMATE2012",
        "POPESTIMATE2013",
        "POPESTIMATE2014",
        "POPESTIMATE2015",
        "POPESTIMATE2016",
        "POPESTIMATE2017",
        "POPESTIMATE2018",
        "POPESTIMATE2019",
        "STNAME",
        "CTYNAME",
    ]
]

pop2000 = pop2000[
    [
        "POPESTIMATE2000",
        "POPESTIMATE2001",
        "POPESTIMATE2002",
        "POPESTIMATE2003",
        "POPESTIMATE2004",
        "POPESTIMATE2005",
        "POPESTIMATE2006",
        "POPESTIMATE2007",
        "POPESTIMATE2008",
        "POPESTIMATE2009",
        "STNAME",
        "CTYNAME",
    ]
]

In [500]:
pop2000["STNAME"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [501]:
# drop Alaska from all datasets

pop2000 = pop2000[pop2000["STNAME"] != "Alaska"]
pop2010 = pop2010[pop2010["STNAME"] != "Alaska"]

pop2000["STNAME"].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [502]:
# run checks

# are there 50 states? (includes DC)
assert len(pop2000["STNAME"].unique()) == 50
assert len(pop2010["STNAME"].unique()) == 50

# are there null values?
for column in pop2000:
    assert not pop2000[column].isnull().any()

for column in pop2010:
    assert not pop2010[column].isnull().any()

In [506]:
pop2000[pop2000["CTYNAME"].isin(["Shannon County"])][1:2]

,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,STNAME,CTYNAME
2459,12542,12602,12872,12993,12983,13150,13404,13345,13368,13425,South Dakota,Shannon County

12542, 12602, 12872, 12993, 12983, 13150, 13404, 13345, 13368, 13425, SD, Oglala

In [507]:
# Change Bedford city to Bedford City in 2010 data
pop2000["CTYNAME"].replace("Bedford city", "Bedford County", inplace=True)

# change LaSalle Parish to La Salle Parish in 2010 data
pop2010["CTYNAME"].replace("LaSalle Parish", "La Salle Parish", inplace=True)

# change 2000 Shannon County to Ogala Lakota County
pop2000.loc[2459] = [
    12542,
    12602,
    12872,
    12993,
    12983,
    13150,
    13404,
    13345,
    13368,
    13425,
    "South Dakota",
    "Oglala Lakota County",
]

In [509]:
pop2000[pop2000["CTYNAME"].isin(["Oglala Lakota County"])]

,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,STNAME,CTYNAME
2459,12542,12602,12872,12993,12983,13150,13404,13345,13368,13425,South Dakota,Oglala Lakota County

In [521]:
# merge data

totalpop = pd.merge(
    pop2000,
    pop2010,
    on=["STNAME", "CTYNAME"],
    how="outer",
    indicator=True,
)

# check correct merge

assert (totalpop._merge == "both").all()

totalpop.columns

Index(['POPESTIMATE2000', 'POPESTIMATE2001', 'POPESTIMATE2002',
       'POPESTIMATE2003', 'POPESTIMATE2004', 'POPESTIMATE2005',
       'POPESTIMATE2006', 'POPESTIMATE2007', 'POPESTIMATE2008',
       'POPESTIMATE2009', 'STNAME', 'CTYNAME', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'POPESTIMATE2016',
       'POPESTIMATE2017', 'POPESTIMATE2018', 'POPESTIMATE2019', '_merge'],
      dtype='object')

In [526]:
totalpop.to_excel(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/countypop.xlsx"
)