In [1]:
%reload_ext lab_black
import pandas as pd
import numpy as np
from plotnine import *

In [3]:
# read data
od = pd.read_csv(
    "https://raw.githubusercontent.com/MIDS-at-Duke/estimating-impact-of-opioids-2020-purlple-team/master/10_code/od_deaths_state.csv?token=ARFW6V7BEO4J4IQLTQD3BPK7UL5CA"
)

population = pd.read_csv(
    "https://raw.githubusercontent.com/MIDS-at-Duke/estimating-impact-of-opioids-2020-purlple-team/ssloate/20_intermediate_files/countypopulations_clean.csv?token=ARFW6V4TNKDVXK6K4IKWWR27UL5FI"
)

In [4]:
# rename od columns to match
od = od.rename(columns={"County Code": "FIPS"})

# drop _merge column in popualtion dataset
population = population.drop(columns="_merge")

In [5]:
# remove Alaska from od Data
od = od[od["State"] != "AK"]

In [6]:
# merge dataset. Use right merge, because it's okay if some years/counties don't have data in the od dataset. That just means there were less than 10 deaths
od_pop = pd.merge(population, od, on=["FIPS", "Year"], how="right", indicator=True)

assert od_pop[od_pop["_merge"] == "both"].all

In [7]:
# convert years to integers
od_pop["Year"] = od_pop["Year"].astype("int")
od_pop.sample(25)

,Unnamed: 0,State Name,County_x,Year,Population,FIPS,State Abbr,County_y,State,Deaths,_merge
1269,44647.0,Pennsylvania,Chester County,2007,486156.0,42029,PA,Chester County,PA,40.0,both
4442,59815.0,West Virginia,McDowell County,2015,19762.0,54047,WV,McDowell County,WV,24.0,both
7585,55585.0,Utah,Weber County,2005,210150.0,49057,UT,Weber County,UT,27.0,both
2238,6185.0,Florida,Escambia County,2005,298339.0,12033,FL,Escambia County,FL,32.0,both
3908,20587.0,Kentucky,Laurel County,2007,57938.0,21125,KY,Laurel County,KY,12.0,both
7774,61851.0,Wisconsin,Winnebago County,2011,167493.0,55139,WI,Winnebago County,WI,21.0,both
3106,27986.0,Mississippi,Hinds County,2006,248989.0,28049,MS,Hinds County,MS,10.0,both
7271,4252.0,California,Ventura County,2012,833516.0,6111,CA,Ventura County,CA,111.0,both
7060,22835.0,Louisiana,Terrebonne Parish,2015,113817.0,22109,LA,Terrebonne Parish,LA,35.0,both
5830,61473.0,Wisconsin,Racine County,2013,194680.0,55101,WI,Racine County,WI,30.0,both
3545,52513.0,Texas,Kaufman County,2013,108248.0,48257,TX,Kaufman County,TX,11.0,both
3990,6587.0,Florida,Leon County,2007,268519.0,12073,FL,Leon County,FL,13.0,both
1073,19770.0,Kentucky,Carter County,2010,27746.0,21043,KY,Carter County,KY,16.0,both
325,7372.0,Georgia,Bartow County,2012,100240.0,13015,GA,Bartow County,GA,13.0,both
4757,36593.0,New York,Monroe County,2013,748290.0,36055,NY,Monroe County,NY,88.0,both
7381,35371.0,New Jersey,Warren County,2011,108142.0,34041,NJ,Warren County,NJ,11.0,both
3681,58914.0,Washington,Kitsap County,2014,253387.0,53035,WA,Kitsap County,WA,20.0,both
2377,46211.0,South Carolina,Florence County,2011,137632.0,45041,SC,Florence County,SC,10.0,both
3875,24969.0,Michigan,Lapeer County,2009,88774.0,26087,MI,Lapeer County,MI,10.0,both
6163,35285.0,New Jersey,Salem County,2005,65388.0,34033,NJ,Salem County,NJ,12.0,both
4382,952.0,Alabama,Marshall County,2012,94260.0,1095,AL,Marshall County,AL,11.0,both
612,21890.0,Louisiana,Bossier Parish,2010,117675.0,22015,LA,Bossier Parish,LA,12.0,both
6922,49668.0,Tennessee,Sullivan County,2008,156028.0,47163,TN,Sullivan County,TN,23.0,both
2274,35095.0,New Jersey,Essex County,2015,790439.0,34013,NJ,Essex County,NJ,108.0,both
4424,42975.0,Oklahoma,McClain County,2015,37973.0,40087,OK,McClain County,OK,10.0,both

In [8]:
# drop unneeded columns

od_pop = od_pop.drop(columns=["County_y", "State", "_merge"])

In [9]:
# rename columns for easier understanding
od_pop = od_pop.rename(
    columns={"State Name": "State", "County_x": "County"},
    errors="raise",
)

# reorder columns
od_pop = od_pop[
    ["FIPS", "State Abbr", "State", "County", "Year", "Deaths", "Population"]
]

# sort by state, county
od_pop = od_pop.sort_values(["State", "County", "Year"])
od_pop.sample(25)

,FIPS,State Abbr,State,County,Year,Deaths,Population
4938,40101,OK,Oklahoma,Muskogee County,2004,14.0,69592.0
1445,42033,PA,Pennsylvania,Clearfield County,2015,12.0,80718.0
286,24510,MD,Maryland,Baltimore City,2009,204.0,620509.0
4218,6039,CA,California,Madera County,2005,11.0,140313.0
2839,28045,MS,Mississippi,Hancock County,2003,11.0,45772.0
7045,51185,VA,Virginia,Tazewell County,2012,13.0,44264.0
5503,42101,PA,Pennsylvania,Philadelphia County,2015,580.0,1571065.0
6271,6081,CA,California,San Mateo County,2008,47.0,703830.0
7238,26159,MI,Michigan,Van Buren County,2013,12.0,75318.0
7546,26163,MI,Michigan,Wayne County,2010,407.0,1815081.0
216,42005,PA,Pennsylvania,Armstrong County,2014,17.0,67579.0
1528,12021,FL,Florida,Collier County,2004,29.0,296021.0
381,21013,KY,Kentucky,Bell County,2007,13.0,28794.0
2642,53027,WA,Washington,Grays Harbor County,2008,12.0,72027.0
4157,48303,TX,Texas,Lubbock County,2006,18.0,261761.0
4619,25017,MA,Massachusetts,Middlesex County,2015,351.0,1585432.0
987,48061,TX,Texas,Cameron County,2009,18.0,400303.0
7172,1125,AL,Alabama,Tuscaloosa County,2011,21.0,196745.0
2799,47065,TN,Tennessee,Hamilton County,2008,44.0,328711.0
5207,12091,FL,Florida,Okaloosa County,2005,21.0,184045.0
724,12011,FL,Florida,Broward County,2013,210.0,1836600.0
5501,42101,PA,Pennsylvania,Philadelphia County,2013,415.0,1558313.0
2052,31055,NE,Nebraska,Douglas County,2008,30.0,504547.0
5535,21195,KY,Kentucky,Pike County,2005,27.0,65719.0
985,48061,TX,Texas,Cameron County,2007,11.0,386306.0

In [10]:
# check for null values
od_pop[od_pop["State"].isnull()]

       FIPS State Abbr State County  Year  Deaths  Population
373   51515        NaN   NaN    NaN  2015     0.0         NaN
1484  51560        NaN   NaN    NaN  2015     0.0         NaN

In [125]:
# FIPS 51515 and 51560 represent two counties in Virginia, Bedford City and Clifton Forge Valley, that were incorporated in to other counties. It is safe to drop them

od_pop = od_pop[(od_pop["FIPS"] != 51515) & (od_pop["FIPS"] != 51560)]
od_pop[od_pop["State"].isnull()]

Empty DataFrame
Columns: [FIPS, State Abbr, State, County, Year, Deaths, Population]
Index: []

In [126]:
# Create per capita deaths column
od_pop["Deaths Per 100,000 People"] = (od_pop["Deaths"] / od_pop["Population"]) * 100000

In [128]:
# save to excel

od_pop.to_csv(
    "/Users/samsloate/Desktop/Data_Science/Opioids_Project/estimating-impact-of-opioids-2020-purlple-team/20_intermediate_files/death_data_with_pop.csv"
)