In [1]:
import pandas as pd
import numpy as np

In [2]:
pop1 = pd.read_csv('/Users/caleboneel/Desktop/estimating-impact-of-opioids-2020-purlple-team/20_intermediate_files/countypopulations_clean.csv')

vitality = pd.read_csv('/Users/caleboneel/Desktop/estimating-impact-of-opioids-2020-purlple-team/10_code/od_deaths_state.csv')

In [3]:
mergepop = pop1.copy()
mergepop = mergepop.rename(columns = {'FIPS':'County Code', 'State Abbr':'State'}) 
mergepop.drop(['State Name','Unnamed: 0','_merge'], axis=1, inplace = True)
mergepop.drop(mergepop.loc[mergepop['Year']== 2000.0].index, inplace=True)
mergepop.drop(mergepop.loc[mergepop['Year']== 2001.0].index, inplace=True)
mergepop.drop(mergepop.loc[mergepop['Year']== 2002.0].index, inplace=True)
mergepop.drop(mergepop.loc[mergepop['Year']== 2016.0].index, inplace=True)
mergepop.drop(mergepop.loc[mergepop['Year']== 2017.0].index, inplace=True)
mergepop.drop(mergepop.loc[mergepop['Year']== 2018.0].index, inplace=True)
mergepop.drop(mergepop.loc[mergepop['Year']== 2019.0].index, inplace=True)
mergepop.drop(mergepop.loc[mergepop['State']== 'ND'].index, inplace=True)
mergepop

               County    Year  Population  County Code State
3      Autauga County  2003.0       46800         1001    AL
4      Autauga County  2004.0       48366         1001    AL
5      Autauga County  2005.0       49676         1001    AL
6      Autauga County  2006.0       51328         1001    AL
7      Autauga County  2007.0       52405         1001    AL
...               ...     ...         ...          ...   ...
62331   Weston County  2011.0        7142        56045    WY
62332   Weston County  2012.0        7077        56045    WY
62333   Weston County  2013.0        7136        56045    WY
62334   Weston County  2014.0        7138        56045    WY
62335   Weston County  2015.0        7208        56045    WY

[39832 rows x 5 columns]

In [4]:
vitality

             County State  County Code    Year  Deaths
0     Acadia Parish    LA        22001  2003.0    11.0
1     Acadia Parish    LA        22001  2005.0    23.0
2     Acadia Parish    LA        22001  2006.0    19.0
3     Acadia Parish    LA        22001  2007.0    19.0
4     Acadia Parish    LA        22001  2009.0    11.0
...             ...   ...          ...     ...     ...
7920    Yuma County    AZ         4027  2011.0    20.0
7921    Yuma County    AZ         4027  2012.0    32.0
7922    Yuma County    AZ         4027  2013.0    22.0
7923    Yuma County    AZ         4027  2014.0    35.0
7924    Yuma County    AZ         4027  2015.0    24.0

[7925 rows x 5 columns]

In [5]:
combo = vitality.merge(mergepop, how = 'right', on = ['County Code', 'Year'], indicator = True)

In [6]:
combo

,County_x,State_x,County Code,Year,Deaths,County_y,Population,State_y,_merge
0,NaN,NaN,1001,2003.0,NaN,Autauga County,46800,AL,right_only
1,NaN,NaN,1001,2004.0,NaN,Autauga County,48366,AL,right_only
2,NaN,NaN,1001,2005.0,NaN,Autauga County,49676,AL,right_only
3,NaN,NaN,1001,2006.0,NaN,Autauga County,51328,AL,right_only
4,NaN,NaN,1001,2007.0,NaN,Autauga County,52405,AL,right_only
...,...,...,...,...,...,...,...,...,...
39827,NaN,NaN,56045,2011.0,NaN,Weston County,7142,WY,right_only
39828,NaN,NaN,56045,2012.0,NaN,Weston County,7077,WY,right_only
39829,NaN,NaN,56045,2013.0,NaN,Weston County,7136,WY,right_only
39830,NaN,NaN,56045,2014.0,NaN,Weston County,7138,WY,right_only
39831,NaN,NaN,56045,2015.0,NaN,Weston County,7208,WY,right_only

In [7]:
death_coef = combo[combo['_merge'] == 'both']

In [8]:
death_coef = death_coef[['State_x', 'Year', 'Deaths', 'Population']]

In [9]:
coef = death_coef.groupby(['State_x', 'Year'], as_index = False).sum()

In [10]:
coef['death rate'] = coef['Deaths']/coef['Population']
coef.rename(columns = {'State_x':'State'}, inplace = True) 
coef

    State    Year  Deaths  Population  death rate
0      AL  2003.0   105.0     1207104    0.000087
1      AL  2004.0   141.0     1841911    0.000077
2      AL  2005.0   139.0     1875713    0.000074
3      AL  2006.0   206.0     1972254    0.000104
4      AL  2007.0   313.0     2485467    0.000126
..    ...     ...     ...         ...         ...
610    WY  2010.0    21.0      167706    0.000125
611    WY  2012.0    27.0      173262    0.000156
612    WY  2013.0    29.0      176810    0.000164
613    WY  2014.0    41.0      222361    0.000184
614    WY  2015.0    36.0      219325    0.000164

[615 rows x 5 columns]

# Markdown incase reuse
wyoming = coef[coef['State_x'] == 'WY']
wyoming

wy = pop1.groupby(['State Abbr', 'Year'], as_index = False).sum()
wy1 = wy[wy['State Abbr'] == 'WY']
wy1

In [11]:
deathrate = coef.drop(['Deaths', 'Population'], axis=1)

In [12]:
combo['Merge?'] = combo['_merge']
combo.drop(['_merge'], axis=1, inplace = True)

In [13]:
combo.rename(columns = {'State_y':'State', 'County_y':'County'}, inplace = True)
combo.drop(['County_x', 'State_x'], axis = 1, inplace = True)

In [14]:
death = combo.merge(deathrate, how='left', on = ['State', 'Year'], indicator = True)

In [15]:
death['death rate'].isna().sum()
deathnan = death[death['_merge'] == 'left_only']

multiple = death.copy()
if ((multiple['Merge?'] == 'right_only') and (multiple['_merge'] == 'both')):
    deathcoef = round(multiple['Population'] * multiple['death rate'])
    multiple['Deaths'] = min(9, deathcoef)

multiple = death.copy()
multiple['deathcoef'] = round(multiple['Population'] * multiple['death rate'])
multiple.loc[multiple['Merge?'] == 'right_only', 'projdeaths'] = min(9, deathcoef)

In [16]:
deathnanyr = deathnan.groupby(['State','Year'], as_index = False).sum()
deathnanyr

   State    Year  County Code  Deaths  Population  death rate
0     MT  2004.0      1683136     0.0      930009         0.0
1     NE  2003.0      2891649     0.0     1738643         0.0
2     SD  2003.0      3040496     0.0      763729         0.0
3     SD  2004.0      3040496     0.0      770396         0.0
4     SD  2005.0      3040496     0.0      775493         0.0
5     SD  2006.0      3040496     0.0      783033         0.0
6     SD  2007.0      3040496     0.0      791623         0.0
7     SD  2008.0      3040496     0.0      799124         0.0
8     SD  2011.0      3040496     0.0      823579         0.0
9     SD  2012.0      3040496     0.0      833566         0.0
10    VT  2003.0       700196     0.0      617858         0.0
11    VT  2004.0       700196     0.0      619920         0.0
12    VT  2005.0       700196     0.0      621215         0.0
13    VT  2008.0       700196     0.0      624151         0.0
14    VT  2009.0       700196     0.0      624817         0.0
15    VT  2010.0       700196     0.0      625879         0.0
16    WY  2003.0      1288529     0.0      503453         0.0
17    WY  2004.0      1288529     0.0      509106         0.0
18    WY  2005.0      1288529     0.0      514157         0.0
19    WY  2006.0      1288529     0.0      522667         0.0
20    WY  2008.0      1288529     0.0      546043         0.0
21    WY  2011.0      1288529     0.0      567299         0.0

In [17]:
deathnanyr['State'].value_counts()

SD    8
WY    6
VT    6
MT    1
NE    1
Name: State, dtype: int64

In [19]:
multiple = death.copy()
missing =  multiple[multiple['State'].isin(['SD', 'VT', 'WY', 'NE', 'MT'])]

In [20]:
SD = missing[missing['State']== 'SD']
VT = missing[missing['State']== 'VT']
WY = missing[missing['State']== 'WY']
NE = missing[missing['State']== 'NE']
MT = missing[missing['State']== 'MT']

In [21]:
SD = SD.groupby(['Year'], as_index = False).mean()
SDrate = SD['death rate'].mean()

VT = VT.groupby(['Year'], as_index = False).mean()
VTrate = VT['death rate'].mean()

WY = WY.groupby(['Year'], as_index = False).mean()
WYrate = WY['death rate'].mean()

NE = NE.groupby(['Year'], as_index = False).mean()
NErate = NE['death rate'].mean()

MT = MT.groupby(['Year'], as_index = False).mean()
MTrate = MT['death rate'].mean()

In [48]:
multcopy = multiple.copy()
multcopy

,County Code,Year,Deaths,County,Population,State,Merge?,death rate,_merge
0,1001,2003.0,NaN,Autauga County,46800,AL,right_only,0.000087,both
1,1001,2004.0,NaN,Autauga County,48366,AL,right_only,0.000077,both
2,1001,2005.0,NaN,Autauga County,49676,AL,right_only,0.000074,both
3,1001,2006.0,NaN,Autauga County,51328,AL,right_only,0.000104,both
4,1001,2007.0,NaN,Autauga County,52405,AL,right_only,0.000126,both
...,...,...,...,...,...,...,...,...,...
39827,56045,2011.0,NaN,Weston County,7142,WY,right_only,NaN,left_only
39828,56045,2012.0,NaN,Weston County,7077,WY,right_only,0.000156,both
39829,56045,2013.0,NaN,Weston County,7136,WY,right_only,0.000164,both
39830,56045,2014.0,NaN,Weston County,7138,WY,right_only,0.000184,both
39831,56045,2015.0,NaN,Weston County,7208,WY,right_only,0.000164,both

In [49]:
multcopy['death rate'] = np.where((multcopy.State == 'SD')&(multcopy['death rate'].isnull()),
                                 SDrate,
                                 multcopy['death rate'])

In [50]:
multcopy['death rate'] = np.where((multcopy.State == 'VT')&(multcopy['death rate'].isnull()),
                                 VTrate,
                                 multcopy['death rate'])

In [51]:
multcopy['death rate'] = np.where((multcopy.State == 'WY')&(multcopy['death rate'].isnull()),
                                 WYrate,
                                 multcopy['death rate'])

In [52]:
multcopy['death rate'] = np.where((multcopy.State == 'NE')&(multcopy['death rate'].isnull()),
                                 NErate,
                                 multcopy['death rate'])

In [53]:
multcopy['death rate'] = np.where((multcopy.State == 'MT')&(multcopy['death rate'].isnull()),
                                 MTrate,
                                 multcopy['death rate'])

In [54]:
SDnew = multcopy[multcopy['State'] == 'SD']

In [55]:
SDnew.groupby(['Year']).mean()

         County Code  Deaths    Population  death rate
Year
2003.0  46068.121212     NaN  11571.651515    0.000091
2004.0  46068.121212     NaN  11672.666667    0.000091
2005.0  46068.121212     NaN  11749.893939    0.000091
2006.0  46068.121212     NaN  11864.136364    0.000091
2007.0  46068.121212     NaN  11994.287879    0.000091
2008.0  46068.121212     NaN  12107.939394    0.000091
2009.0  46068.121212    14.0  12228.287879    0.000140
2010.0  46068.121212    11.0  12366.151515    0.000065
2011.0  46068.121212     NaN  12478.469697    0.000091
2012.0  46068.121212     NaN  12629.787879    0.000091
2013.0  46068.121212    13.0  12762.363636    0.000073
2014.0  46068.121212    14.0  12865.590909    0.000077
2015.0  46068.121212    18.0  12939.212121    0.000098

In [56]:
VTnew = multcopy[multcopy['State'] == 'VT']
VTnew

,County Code,Year,Deaths,County,Population,State,Merge?,death rate,_merge
35451,50001,2003.0,NaN,Addison County,36432,VT,right_only,0.000122,left_only
35452,50001,2004.0,NaN,Addison County,36580,VT,right_only,0.000122,left_only
35453,50001,2005.0,NaN,Addison County,36611,VT,right_only,0.000122,left_only
35454,50001,2006.0,NaN,Addison County,36758,VT,right_only,0.000098,both
35455,50001,2007.0,NaN,Addison County,36886,VT,right_only,0.000192,both
...,...,...,...,...,...,...,...,...,...
35628,50027,2011.0,NaN,Windsor County,56612,VT,right_only,0.000114,both
35629,50027,2012.0,NaN,Windsor County,56138,VT,right_only,0.000088,both
35630,50027,2013.0,NaN,Windsor County,55993,VT,right_only,0.000109,both
35631,50027,2014.0,NaN,Windsor County,55727,VT,right_only,0.000081,both
35632,50027,2015.0,12.0,Windsor County,55541,VT,both,0.000172,both

In [57]:
multcopy['death rate'].isnull().values.any()
multcopy

,County Code,Year,Deaths,County,Population,State,Merge?,death rate,_merge
0,1001,2003.0,NaN,Autauga County,46800,AL,right_only,0.000087,both
1,1001,2004.0,NaN,Autauga County,48366,AL,right_only,0.000077,both
2,1001,2005.0,NaN,Autauga County,49676,AL,right_only,0.000074,both
3,1001,2006.0,NaN,Autauga County,51328,AL,right_only,0.000104,both
4,1001,2007.0,NaN,Autauga County,52405,AL,right_only,0.000126,both
...,...,...,...,...,...,...,...,...,...
39827,56045,2011.0,NaN,Weston County,7142,WY,right_only,0.000154,left_only
39828,56045,2012.0,NaN,Weston County,7077,WY,right_only,0.000156,both
39829,56045,2013.0,NaN,Weston County,7136,WY,right_only,0.000164,both
39830,56045,2014.0,NaN,Weston County,7138,WY,right_only,0.000184,both
39831,56045,2015.0,NaN,Weston County,7208,WY,right_only,0.000164,both

In [58]:
#multcopy.drop(['deathcoef'], axis=1, inplace = True)

In [59]:
multcopy['deathcoef'] = round(multcopy['Population'] * multcopy['death rate'])

In [60]:
multcopy['projdeaths'] = np.where((multcopy.deathcoef < 9),
                                 multcopy.deathcoef,
                                 9)

In [61]:
multcopy

,County Code,Year,Deaths,County,Population,State,Merge?,death rate,_merge,deathcoef,projdeaths
0,1001,2003.0,NaN,Autauga County,46800,AL,right_only,0.000087,both,4.0,4.0
1,1001,2004.0,NaN,Autauga County,48366,AL,right_only,0.000077,both,4.0,4.0
2,1001,2005.0,NaN,Autauga County,49676,AL,right_only,0.000074,both,4.0,4.0
3,1001,2006.0,NaN,Autauga County,51328,AL,right_only,0.000104,both,5.0,5.0
4,1001,2007.0,NaN,Autauga County,52405,AL,right_only,0.000126,both,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
39827,56045,2011.0,NaN,Weston County,7142,WY,right_only,0.000154,left_only,1.0,1.0
39828,56045,2012.0,NaN,Weston County,7077,WY,right_only,0.000156,both,1.0,1.0
39829,56045,2013.0,NaN,Weston County,7136,WY,right_only,0.000164,both,1.0,1.0
39830,56045,2014.0,NaN,Weston County,7138,WY,right_only,0.000184,both,1.0,1.0
39831,56045,2015.0,NaN,Weston County,7208,WY,right_only,0.000164,both,1.0,1.0

In [62]:
multcopy['CalculatedDeaths'] = np.where((multcopy.Deaths.isnull()),
                                 multcopy.projdeaths,
                                 multcopy.Deaths)

In [63]:
assert len(multcopy) == len(mergepop)
assert multcopy.projdeaths.isnull().values.any() == False

In [64]:
multcopy.drop(['Merge?', '_merge'], axis=1, inplace = True)

In [65]:
vitalitydf = multcopy.copy()